<professor-title>
  <h1 class="mdc-typography--headline">{{professor.firstName}} {{professor.lastName}}</h1>
  <base href="./{{professor.firstName}}/" />
</professor-title>

<div class="mdc-card demo-card">
  <section class="mdc-card__primary mdc-typography--title">
    This Professor hast previously taught:
  </section>
    <ul class="mdc-list">
      {{#each courses}}
        <li class="mdc-list-item"><a href="./{{this}}"> {{this}} </a></li>
      {{/each}}
    </ul>
</div>
